body {
    font-size: 16px;
    color: whitesmoke;
    background-color: whitesmoke;
    font-family: 'Oxygen', sans-serif;
}
#header-nav {
    background-color: whitesmoke;
    border-radius: 0;
    border: 0;
}
.container{
    margin: 10px 10px;
}
.navbar-brand{
    padding-top: 25px;
}
.navbar-brand h1{
    color: rgb(185, 149, 82);
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}*/
.navbar-brand span {
    color: black;
    text-transform: uppercase;
    font-size: 7em;
    margin-top: 15px;
}
#nav-list{
    margin-top: 10px;
    background-color:whitesmoke;
}
#nav-list a{
    color: rgb(185, 149, 82);
    text-align: center;
}
#nav-list a:hover{
    background: whitesmoke;
}
#nav-list a span{
    font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid rgb(185, 149, 82);
}
.navbar-header button.navbar-toggle{
    clear: both;
    margin-top: -30px;
}
/* END HEADER */

/* Home page */

 /* END HOME PAGE */
/******* Large devices only ********/
@media (min-width: 1200px) {

}

/******* Medium devices only ********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/******* Small devices only ********/
@media (min-width: 768px) and (max-width: 991px) {

}

/******* Extra small devices only ********/
@media (max-width: 767px) {
    /* Header */
    .navbar-brand{
        padding-top: 10px;
        height: 80px;
    }
    .navbar-brand h1{ /* Page name */
        padding-top: 10px;
        font-size: 5vw; /* 1vw = 1% of viewport width */
    }
    #collapsable-nav a{ /* Collapsed nav menu glyph */
        font-size: 1.2em;
    }
    #collapsable-nav a span{ /* Collapsed nav menu glyph */
        font-size: 1em;
        margin-right: 5px;
    }
    /* END HEADER */
}
/*********** Super extra small devices Only:-) (e.g., iPhone 4) *******/
@media (max-width: 479px){
    

}