@media (min-width: 992px) {
    section{
        width: 33.33%
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #S1{
        width: 50%
    }
    #S1{
        width: 50%
    }
    #S1{
        width: 100%
    }
}