@media (max-width: 767px) {
    #S1{
        width: 100%
    }
    #S2{
        width: 100%
    }
    #S3{
        width: 100%
    }
}
@media (min-width: 992px) {
    float: left;
    #S1{
        width: 33.33%
    }
    #S2{
        width: 33.33%
    }
    #S3{
        width: 33.33%
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    float: left;
    #S1{
        width: 50%
    }
    #S2{
        width: 50%
    }
    #S3{
        width: 100%
    }
}